
.container {
  width: 80%;
  margin: auto;
  padding: 20px;
  font-family: sans-serif;
}

.header {
  font-size: 24px; /* Sets the font size to 24 pixels */
  color: #333; /* Dark gray text color */
  margin-top: 70px; /* Adds space above the header */
  margin-bottom: 30px; /* Adds space below the header */
  font-weight: bold; /* Makes the font bold */
  text-align: center; /* Centers the text */
}

.searchBar {
  display: flex;
  justify-content: space-between;
}

.inputText {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
}

.button {
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

.buttonDisabled {
  background-color: #ccc;
}

.error {
  color: red;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.th {
  background-color: #f2f2f2;
}

.td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

.link {
  color: #007BFF;
}

.bestPrice {
  font-size: 20px; /* Larger font size for emphasis */
  color: #4CAF50; /* A green color to highlight the best price */
  margin-top: 30px; /* Space above the summary line */
  font-weight: bold; /* Bold font for better visibility */
  text-align: center; /* Centering the text to align with the table and headers */
}
